.wrapper {
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
  }

  .textarea {
      display: block;
      width: 700px;
      height: 300px;
      margin: 100px auto;
  }

  .keyboard {
      width: 830px;
      height: 500px;
      margin: 0 auto;
      border: solid 1px black;
  }

  .keyboard__row {
      display: flex;
      width: 100%;
  }

  .key {
      height: 45px;
      width: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1.05rem;
      margin: 3px;
      border: 1px solid black;
      border-radius: 4px;
      background: yellow;
    
      user-select: none;   
  }

  .key_125x {
    width: 60px;
  } 

  .key_backspace {
      width: 130px;
  }

  .key_capsLock {
      width: 90px;
  }
  .key_enter {
      width: 133px;
  }
  .key_shift {
      width: 114px;
  }
  .key_space {
      width: 363px;
  }

  .key_pressed {
      border-radius: 25px;
      background: red;
  }